/* === IMPORTANTE ===================================================
   No modificar estos estilos, ya que son imprescindibles para
   que la página se vea correctamente.
   ================================================================== */

/*-- Básico ----------------------------------------------------------*/
ul, ul li { margin: 0; padding: 0; list-style: none; }
h1, h2, h3, p, form { margin: 0; padding: 0; }
.clear { clear: both; }
img { border: none; }

/*-- Layout ----------------------------------------------------------*/
#contenedor {
  width: 90%;
  max-width: 900px;
  width: expression(document.body.clientWidth > 901? "900px": "auto");
  margin: 0 auto;
}

#cabecera, #menu, #lateral, #contenido, #contenido #principal, #contenido #secundario, #pie {
  border: 2px solid #777;
}

#cabecera { clear: both; }
#menu { clear: both; }
#lateral { float: left; width: 20%; }
#contenido { float: right; width: 78%; }
#contenido #principal { float: left; width: 74%; }
#contenido #secundario { float: right; width: 20%; }
#pie { clear: both; }

/*-- Cabecera --------------------------------------------------------*/
#cabecera #logo { float: left; }
#cabecera #buscador { float: right; }

/*-- Menu ------------------------------------------------------------*/
#menu ul#menu_principal li { display: inline; float: left; }

/*-- Sección Principal -----------------------------------------------*/
#contenido #principal .articulo img { width: 100px; float: left; }

/*-- Pie de página ---------------------------------------------------*/
#pie .enlaces   { float: left; }
#pie .copyright { float: right; }

/* === IMPORTANTE ===================================================
   A partir de aquí, se pueden añadir todos los estilos propios que
   sean necesarios.
   ================================================================== */

body{
    color: black;
    font-family: arial;
    font-size: 0.9em;
    line-height: 1.4;
}
div#cabecera{
    padding: 1em;
    border: 0;
}
#logo h1{
    background-image: url(logo.gif);
    background-repeat: no-repeat;
    background-position: center left;
    overflow: visible;
}
#cabecera span{
    visibility: hidden;
}
div#menu{
    padding: 0.5em;
    margin-bottom: 0.5em;
    border: 0;
    border-bottom: 1px solid #004C99;
    background-image: url("fondo_menu.gif");
    background-repeat: repeat-x;
}

div#menu li{
    margin-right: 1em;
}
div#menu a{
    color: white;
    font-size: 1.3em;
}
div#noticias, div#publicidad, div#principal{
    padding: 0.5em;
}
#contenido div#secundario{
    padding: 0.5em;
    border: 1px solid #CC6600;
}
#secundario h2{
    background: #DB905C;
    padding: .2em;
    color: white;
    font-size: 1em;
}
div#pie{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 1em;
    border-top: 1px solid #C5C5C5;
    border-bottom: 1px solid #C5C5C5;
    border-left: 0;
    border-right: 0;
    background: #f8f8f8;
}
div#pie span.copyright{
    color: #999;
}
div.articulo{
    margin: 1em;
}
div.articulo a{
    color: #CC6600;
}
div.articulo p{
    margin-top: 0.3em;
    margin: 0.3em 0;
}
.articulo img{
    margin: 0.5em;
}
div#publicidad{
    margin-top: 1em;
    border: 1px dashed #CC6600;
    background: #FFF6CD;
    color: #555;
}
div#publicidad a{
    color: #CC6600;

}
div#lateral{
    border: 0;
    font-size: 0.9em;
}
div#lateral span.fecha{
    display: block;
    color: #999;
}
div#contenido{
   border: 0;
}
div#noticias{
    border: 1px solid #C5C5C5;
    background: #F8F8F8;
}
div#noticias h3 a{
    color: #003366;
}
#contenido div#principal{
    border: 0;
}
div.articulo h2{
    color: #CC6600;
    font-size: 1.6em;
    line-height: 1.2;
    margin-bottom: 0.3em;
}


